body{
    width:35rem;
    margin: auto;
    font-family: "Open Sans", sans-serif;
}

/* *{
    border: solid 1px black;
} */

header, footer{
    background-color: steelblue;
    color:white;
    padding:1rem;
    font-weight: 700;
    text-align: center;
}

.form1{
    padding: 1rem;
}

.form1 label, .form1 div{
    display: block;
    padding-top: 2rem;
}

.form1 input[type="date"], 
.form1 textarea,
.form1 input[type="text"],  
.form1 select{
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 0.75rem;
    color: #555;
    width:100%;
    appearance: none;
}

.form1 input[type="date"], 
.form1 textarea,
.form1 input[type="text"]{
    max-width:31rem;

}

.form1 div.checkbox label{
    padding-top: 0.9rem;
}

input[type="radio"]{
    display: block;
    margin: 0 auto;
}  

.form1 input[type="checkbox"]{
    border: 1px solid #999;
    margin-top: 0;
    margin-right: 1rem;
}

textarea{
    height:5rem;
}

.form1 div.rating{
    display: flex;
}

.form1 div.rating label{
    margin:1rem;
}

.optional{
    color:steelblue;
}

.form1 input[type="submit"],a{
    border: none;
    color: white;
    border-radius: 6px;
    width:100%;
    background-color: steelblue;
    margin:2rem 0;
    padding:1rem;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
}

.review{
    text-align: center;
    padding: 2rem;
}